input {
  border-radius: 10px;
  border: 1px solid rgb(71, 70, 70);
  outline: none;
  color: rgb(71, 70, 70);
  width: 90%;
  position: relative;
  right: -5%;
  background-color: rgb(156, 128, 179);
}
